In [3]:
## Loading Libraries
import pandas
import numpy

In [4]:
## loading Data
gap = pandas.read_csv('gapminder.csv')
print(len(gap))
print(len(gap.columns))

## converting variable names to lower case
gap.columns=map(str.lower, gap.columns)

213
16

In [5]:
## Preparing Data

gap['alcconsumption']   = pandas.to_numeric(gap['alcconsumption'],  errors='coerce')
gap['incomeperperson']  = pandas.to_numeric(gap['incomeperperson'], errors='coerce')

gap = gap[(gap['alcconsumption']>0) & (gap['incomeperperson']>0) ]

print(gap.shape)

(179, 16)

In [29]:
print("Alcohol Consumption Summary")
print(gap.alcconsumption.describe())

print('\n')

print('Income per Person Summary')
print(gap.incomeperperson.describe())

Alcohol Consumption Summary
count    179.000000
mean       6.840950
std        4.900727
min        0.050000
25%        2.730000
50%        6.120000
75%       10.035000
max       23.010000
Name: alcconsumption, dtype: float64


Income per Person Summary
count      179.000000
mean      7064.702804
std      10121.224009
min        103.775857
25%        718.223431
50%       2425.471293
75%       8529.823454
max      52301.587179
Name: incomeperperson, dtype: float64

In [12]:
## Creating a categorical variable
gap['incomeperperson_cat']=pandas.qcut(gap.incomeperperson, 4, 
    labels=["1st quartile","2nd quartile","3rd quartile","4th quartile"])

print("income per person quartiles")
category1 = gap["incomeperperson_cat"].value_counts(sort=False)
print(category1)

gap[['country','alcconsumption', 'incomeperperson', 'incomeperperson_cat']] .head(n=10)

income per person quartiles
1st quartile    45
2nd quartile    45
3rd quartile    44
4th quartile    45
dtype: int64

                country  alcconsumption  incomeperperson incomeperperson_cat
1               Albania            7.29      1914.996551        2nd quartile
2               Algeria            0.69      2231.993335        2nd quartile
3               Andorra           10.17     21943.339898        4th quartile
4                Angola            5.57      1381.004268        2nd quartile
5   Antigua and Barbuda            8.17     11894.464075        4th quartile
6             Argentina            9.35     10749.419238        4th quartile
7               Armenia           13.66      1326.741757        2nd quartile
9             Australia           10.21     25249.986061        4th quartile
10              Austria           12.40     26692.984107        4th quartile
11           Azerbaijan           13.34      2344.896916        2nd quartile

In [23]:
## checking that quartiles are correct

first =gap[(gap['incomeperperson_cat'] == '1st quartile')]
print(first[['country','alcconsumption', 'incomeperperson', 'incomeperperson_cat']] .head(n=5))

print('\n')

second =gap[(gap['incomeperperson_cat'] == '2nd quartile')]
print(second[['country','alcconsumption', 'incomeperperson', 'incomeperperson_cat']] .head(n=5))

print('\n')

third =gap[(gap['incomeperperson_cat'] == '3rd quartile')]
print(third[['country','alcconsumption', 'incomeperperson', 'incomeperperson_cat']] .head(n=5))

print('\n')

fourth =gap[(gap['incomeperperson_cat'] == '4th quartile')]
print(fourth[['country','alcconsumption', 'incomeperperson', 'incomeperperson_cat']] .head(n=5))

         country  alcconsumption  incomeperperson incomeperperson_cat
14    Bangladesh            0.17       558.062877        1st quartile
19         Benin            2.08       377.039699        1st quartile
28  Burkina Faso            7.32       276.200413        1st quartile
29       Burundi            9.65       115.305996        1st quartile
30      Cambodia            4.71       557.947513        1st quartile


       country  alcconsumption  incomeperperson incomeperperson_cat
1      Albania            7.29      1914.996551        2nd quartile
2      Algeria            0.69      2231.993335        2nd quartile
4       Angola            5.57      1381.004268        2nd quartile
7      Armenia           13.66      1326.741757        2nd quartile
11  Azerbaijan           13.34      2344.896916        2nd quartile


     country  alcconsumption  incomeperperson incomeperperson_cat
16   Belarus           18.85      2737.670379        3rd quartile
18    Belize            5.92      3545.652174        3rd quartile
24  Botswana            6.97      4189.436587        3rd quartile
25    Brazil           10.08      4699.411262        3rd quartile
27  Bulgaria           11.40      2549.558474        3rd quartile


                country  alcconsumption  incomeperperson incomeperperson_cat
3               Andorra           10.17     21943.339898        4th quartile
5   Antigua and Barbuda            8.17     11894.464075        4th quartile
6             Argentina            9.35     10749.419238        4th quartile
9             Australia           10.21     25249.986061        4th quartile
10              Austria           12.40     26692.984107        4th quartile