In [1]:
library(car, quietly=TRUE)
galton <-read.csv("galton.csv")

dim(galton)
head(galton)

[1] 898   6

  Family Father Mother Gender Height Kids
1      1   78.5   67.0      M   73.2    4
2      1   78.5   67.0      F   69.2    4
3      1   78.5   67.0      F   69.0    4
4      1   78.5   67.0      F   69.0    4
5      2   75.5   66.5      M   73.5    4
6      2   75.5   66.5      M   72.5    4

In [2]:
##creating outliers
set.seed(1)
random_index <- sample(1:nrow(galton), size = 5, replace = FALSE, prob = NULL)
print(random_index)
galton[random_index,"Height"] = galton[random_index,"Height"] +100

set.seed(2)
random_index2 <- sample(1:nrow(galton), size = 5, replace = FALSE, prob = NULL)
galton[random_index2,"Height"] = galton[random_index2,"Height"] +75

set.seed(3)
random_index3 <- sample(1:nrow(galton), size = 5, replace = FALSE, prob = NULL)
galton[random_index3,"Height"] = galton[random_index3,"Height"] +50

[1] 239 334 514 813 181

In [3]:
currentData <- galton
linear_reg <- lm(Height~Father+Mother,data=currentData)

outlierResult <-outlierTest(linear_reg)
outlierResult

     rstudent unadjusted p-value Bonferonni p
514 17.588045         1.0817e-59   9.7140e-57
151 11.032580         1.2696e-26   1.1401e-23
181  9.150396         3.7570e-19   3.3738e-16
813  8.869909         3.9183e-18   3.5186e-15
239  8.736011         1.1751e-17   1.0553e-14
334  8.536746         5.8737e-17   5.2746e-14
844  6.739017         2.8551e-11   2.5639e-08
631  6.487641         1.4421e-10   1.2950e-07
167  6.457464         1.7453e-10   1.5672e-07
725  4.536382         6.5030e-06   5.8397e-03

In [10]:
##currentData <- galton
linear_reg <- lm(Height~Father+Mother,data=currentData)

outlierResult <-outlierTest(linear_reg)
outlierResult

No Studentized residuals with Bonferonni p < 0.05
Largest |rstudent|:
    rstudent unadjusted p-value Bonferonni p
289 3.469102         0.00054752      0.48455

In [8]:
##while(length(outlierResult)!=0){
  exclusionRows <-names(outlierResult[[1]])


  inclusionRows <- !(rownames(currentData) %in% exclusionRows)
  currentData <- currentData[inclusionRows,]

  linear_reg <- lm(Height~Father+Mother,data=currentData)
  outlierResult <-outlierTest(linear_reg)

##}

In [9]:
dim(currentData)

[1] 885   6

In [12]:
exclusionRows <-names(outlierResult[[1]])
exclusionRows

[1] "289"